<div class="login-page">
  <div class="login-container">
    <h2 class="login-header"> Login</h2>
    <div class="login-form">
      <form (ngSubmit)="loginUser()" #loginForm="ngForm">
        <div class="form-control">
          <div class="form-label">
            <label for="username">Username:</label><br>
          </div>
          <input type="text" class="form-input" id="username" name="username" placeholder="Enter Your Name"
            [(ngModel)]="username" required>
        </div>
        <div class="form-control">
          <div class="form-label">
            <label for="password">Password:</label><br>
          </div>
          <input type="password" placeholder="Enter Password" class="form-input" id="password" name="password"
            [(ngModel)]="password" required><br><br>
        </div>
        <div class="submit">
          <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>

        <!-- <div class="auth">
          <div class="auth-control">
            <button type="button"></button>
          </div>
          <div class="auth-control">
            <button type="button"></button>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>