body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.whole-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjusted to 100vh to cover the whole viewport */
}

.login-container {
  width: 25%; /* Adjusted width for better visibility */
  // height: 70%;
  padding: 30px;
  border: 1px solid #ccc;
}

.login-header {
  text-align: center; /* Center the header text */
  margin-bottom: 20px;
}

.login-form {
  text-align: center;
}

.form-label {
  margin-bottom: 10px; /* Added margin to separate label and input */
}

.form-control {
  margin-bottom: 20px; /* Added margin to separate form controls */
}

.form-input {
  /* No need for padding in form input */
}

.submit {
  text-align: center;
  padding-top: 10px; /* Adjusted padding for better spacing */
}
